* {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.app {
  text-align: center;
  background-color: yellow;
  margin: 0;
  padding: 10px;
}

.main-title {
  margin: 0;
  background-image: url("./../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-size: 0.1px;
  color: yellow;
  height: 100px;  
  margin-bottom: 10px;
}

